# Auto detect text files and perform LF normalization
* text=auto
# Normaliza a LF (Unix) en archivos de texto de datos
*.csv text eol=lf

# Otros recomendados:
*.tsv text eol=lf
*.py  text eol=lf
*.sh  text eol=lf

# Archivos binarios: no tocar EOL
*.parquet binary
*.png     binary
*.jpg     binary
*.zip     binary